@model CloudBasedRMS.View.Controllers.ViewModel.HomeViewModel
@{ 
	Layout = null;
}
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>CBRMS</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="~/Scripts/ContactUs/css/bootstrap.css" rel="stylesheet">
	<link href="~/Scripts/ContactUs/css/style.css" rel="stylesheet">
	<link rel='stylesheet' id='prettyphoto-css' href="~/Scripts/ContactUs/css/prettyPhoto.css" media='all'>
	<link href="~/Scripts/ContactUs/css/fontello.css" rel="stylesheet">
	<!--[if lt IE 7]>
		<link href="css/fontello-ie7.css" rel="stylesheet">
	<![endif]-->
	<link href='http://fonts.googleapis.com/css?family=Quattrocento:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<style>
		body {
			padding-top: 60px;
		}
	</style>
	<link href="~/Scripts/ContactUs/css/bootstrap-responsive.css" rel="stylesheet">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="shortcut icon" href="~/Images/RestaurantLogo/cbrm.png">
	<script src="~/Scripts/ContactUs/js/jquery.js"></script>
	<script src="~/Scripts/ContactUs/js/jquery.scrollTo-1.4.2-min.js"></script>
	<script src="~/Scripts/ContactUs/js/jquery.localscroll-1.2.7-min.js"></script>
	<script charset="utf-8">
		$(document).ready(function(){
			$("a[rel^='prettyPhoto']").prettyPhoto();
		});
	</script>

    <link href="~/Scripts/WOW-master/css/libs/animate.css" rel="stylesheet" />
    <script src="~/Scripts/WOW-master/dist/wow.js"></script>
    <script>
    wow = new WOW(
      {
        animateClass: 'animated',
        offset:       100,
        callback:     function(box) {
          console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
        }
      }
    );
    wow.init();
    </script>
</head>
<body>
	<!--******************** NAVBAR ********************-->
	<div class="navbar-wrapper">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
					<h1 class="brand wow pulse" data-wow-iteration="infinite" data-wow-duration="1500ms"><a href="#top">CloudBased-RMS</a></h1>
					<nav class="pull-right nav-collapse collapse">
						<ul id="menu-main" class="nav">
							<li ><a title="portfolio" href="#portfolio" class="wow slideInDown" data-wow-duration="1s">Portfolio</a></li>
							<li ><a title="services" href="#services" class="wow slideInDown" data-wow-duration="2s">Services</a></li>
							<li ><a title="news" href="#news" class="wow slideInDown" data-wow-duration="3s">News</a></li>
							<li ><a title="team" href="#team" class="wow slideInDown" data-wow-duration="4s">Team</a></li>
							<li ><a title="contact" href="#contact" class="wow slideInDown" data-wow-duration="5s">Contact</a></li>
							<li ><a title="Login" href="/en-US/Account/Login" class="wow slideInDown" data-wow-duration="6s">Login</a></li>
							<li class="dropdown wow slideInDown" data-wow-duration="7s">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Language<span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li>
										<span class="item">
											<span class="item-left">
												<img src="/Images/FlagImages/flag_united_kingdom.png" alt="English Language">
											</span>
											<span class="item-right">
											   <a href="/">English</a>
											</span>
										</span>                                  
									</li>
									<li>
										<span class="item">
											<span class="item-left">
												<img src="/Images/FlagImages/myanmarflag.png" alt="Myanmar Language">
											</span>
											<span class="item-right">
												<a href="/en-GB" class=" __mm">မြန်မာ</a>
											</span>
										</span>
									</li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<div id="top"></div>
	<!-- ******************** HeaderWrap ********************-->
	<div id="headerwrap">
		<header class="clearfix wow rollIn" data-wow-offset="300" data-wow-duration="2s">
			<h1>We are you!You are ours.</h1>
			<div class="container">
				<div class="row">
					<div class="span12">
						<h2>Signup for our Newsletter to be updated</h2>
						<input type="text" name="your-email" placeholder="you@yourmail.com" class="cform-text" size="40" title="your email">
						<input type="submit" value="Notify me" class="cform-submit">
					</div>
				</div>
				<div class="row">
					<div class="span12">
						<ul class="icon">
							<li><a href="#" target="_blank"><i class="icon-pinterest-circled"></i></a></li>
							<li><a href="#" target="_blank"><i class="icon-facebook-circled"></i></a></li>
							<li><a href="#" target="_blank"><i class="icon-twitter-circled"></i></a></li>
							<li><a href="#" target="_blank"><i class="icon-gplus-circled"></i></a></li>
							<li><a href="#" target="_blank"><i class="icon-skype-circled"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>
	</div>
	<!--******************** Feature ********************-->
	<div class="scrollblock">
		<section id="feature" class="wow slideInLeft" data-wow-duration="4s">
			<div class="container " >
				<div class="row">
					<div class="span12">
						<article>
							<p>We work to make web a beautiful place.</p>
							<p>We craft beautiful designs and convert them into</p>
							<p>fully functional and user-friendy web app.</p>
						</article>
					</div>
				</div>
			</div>
		</section>
	</div>
	<hr>
	<!--******************** Portfolio Section ********************-->
	<section id="portfolio" class="single-page scrollblock ">
		<div class="container wow slideInRight" data-wow-offset="10"  data-wow-duration="4s">
			<div class="align"><i class="icon-desktop-circled"></i></div>
			<h1 id="folio-headline">@Resource.Portfolio</h1>
			<div class="row">
				<div class="span4">
					<div class="mask2"> 
					<a href="~/Scripts/ContactUs/img/portfolio-01.jpg" rel="prettyPhoto"><img src="~/Scripts/ContactUs/img/portfolio-01                                                                                                                                            .jpg" alt=""></a> </div>
					<div class="inside">
						<hgroup>
							<h2>Ethan Marcotte Design</h2>
						</hgroup>
						<div class="entry-content">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
							<a class="more-link" href="#">view project</a>
						</div>
					</div>

				</div>

				<div class="span4">
					<div class="mask2"> <a href="~/Scripts/ContactUs/img/portfolio-02.jpg" rel="prettyPhoto"><img src="~/Scripts/ContactUs/img/portfolio-02.jpg" alt=""></a> </div>
					<div class="inside">
						<hgroup>
							<h2>A Book Apart</h2>
						</hgroup>
						<div class="entry-content">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
							<a class="more-link" href="#">view project</a>
						</div>
					</div>

				</div>

				<div class="span4">
					<div class="mask2"> <a href="~/Scripts/ContactUs/img/portfolio-03.jpg" rel="prettyPhoto"><img src="~/Scripts/ContactUs/img/portfolio-03.jpg" alt=""></a> </div>
					<div class="inside">
						<hgroup>
							<h2>Four Rules for Designers</h2>
						</hgroup>
						<div class="entry-content">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
							<a class="more-link" href="#">view project</a>
						</div>
					</div>

				</div>

			</div>
			<div class="row">
				<div class="span4">
					<div class="mask2"> <a href="~/Scripts/ContactUs/img/portfolio-01.jpg" rel="prettyPhoto"><img src="~/Scripts/ContactUs/img/portfolio-03.jpg" alt=""></a> </div>
					<div class="inside">
						<hgroup>
							<h2>Ethan Marcotte Design</h2>
						</hgroup>
						<div class="entry-content">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
							<a class="more-link" href="#">view project</a>
						</div>
					</div>

				</div>

				<div class="span4">
					<div class="mask2"> <a href="~/Scripts/ContactUs/img/portfolio-02.jpg" rel="prettyPhoto"><img src="~/Scripts/ContactUs/img/portfolio-01.jpg" alt=""></a> </div>
					<div class="inside">
						<hgroup>
							<h2>A Book Apart</h2>
						</hgroup>
						<div class="entry-content">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
							<a class="more-link" href="#">view project</a>
						</div>
					</div>

				</div>

				<div class="span4">
					<div class="mask2"> <a href="~/Scripts/ContactUs/img/portfolio-03.jpg" rel="prettyPhoto"><img src="~/Scripts/ContactUs/img/portfolio-02.jpg" alt=""></a> </div>
					<div class="inside">
						<hgroup>
							<h2>Four Rules for Designers</h2>
						</hgroup>
						<div class="entry-content">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
							<a class="more-link" href="#">view project</a>
						</div>
					</div>

				</div>

			</div>
		</div>
	</section>
	<hr>
	<!--******************** Services Section ********************-->
	<section id="services" class="single-page scrollblock wow lightSpeedIn" data-wow-duration="10s">
		<div class="container">
			<div class="align"><i class="icon-cog-circled"></i></div>
			<h1>@Resource.Services</h1>
			<div class="row">
			   @foreach (var item in Model.foodItems_Details)
			   {
				<div class="span3">
					<div class="align"> 
						<img src="@Url.Content(item.ImagePath)" width="80" height="80" class="team-thumb img-circle"/>
					 </div>
					<h2>@item.Description</h2>
					<p>Price:@item.NewPrice-Kyats</p>
					<p>Category:@item.Category.Description</p>
					<p>Today Special:@item.IsTodaySpecial</p>
				</div>
			   }          
			</div>
		</div>
	</section>
	@*<hr>*@
	<!--******************** Testimonials Section ********************-->
	<section id="testimonials" class="single-page hidden-phone wow flipInY" data-wow-duration="4s">
		<div class="container">
			<div class="row">
				<div class="blockquote-wrapper">
					<blockquote class="mega">
						<div class="span4">
							<p class="cite">John Doe &amp; Sons:</p>
						</div>
						<div class="span8">
							<p class="alignright">"We highly appreciate the enthusiasm and creative talent of the people at Legend!"</p>
						</div>
					</blockquote>
				</div>
				<!-- /.blockquote-wrapper -->
			</div>

		</div>

	</section>
	<hr>
	<!--******************** News Section ********************-->
	<section id="news" class="single-page scrollblock wow flipInX" data-wow-duration="20s">
		<div class="container">
			<div class="align"><i class="icon-pencil-circled"></i></div>
			<h1>@Resource.News</h1>
			<div class="row">
				<article class="span4 post">
					<img class="img-news" src="~/Scripts/ContactUs/img/blog_img-01.jpg" alt="">
					<div class="inside">
						<p class="post-date"><i class="icon-calendar"></i> March 17, 2013</p>
						<h2>A girl running on a road</h2>
						<div class="entry-content">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. &hellip;</p>
							<a href="#" class="more-link">read more</a>
						</div>
					</div>

				</article>

				<article class="span4 post">
					<img class="img-news" src="~/Scripts/ContactUs/img/blog_img-02.jpg" alt="">
					<div class="inside">
						<p class="post-date">February 28, 2013</p>
						<h2>A bear sleeping on a tree</h2>
						<div class="entry-content">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. &hellip;</p>
							<a href="#" class="more-link">read more</a>
						</div>
					</div>

				</article>

				<article class="span4 post">
					<img class="img-news" src="~/Scripts/ContactUs/img/blog_img-03.jpg" alt="">
					<div class="inside">
						<p class="post-date">February 06, 2013</p>
						<h2>A Panda playing with his baby</h2>
						<div class="entry-content">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. &hellip;</p>
							<a href="#" class="more-link">read more</a>
						</div>
					</div>

				</article>

			</div>

			<a href="#" class="btn btn-large">Go to our blog</a>
		</div>

	</section>
	<hr>
	<!--******************** Team Section ********************-->
	<section id="team" class="single-page scrollblock wow jackInTheBox" data-wow-offset="300" data-wow-duration="20s">
		<div class="container">
			<div class="align"><i class="icon-group-circled"></i></div>
			<h1>@Resource.Team</h1>
			<div class="row">
				@foreach (var e in Model.employee)
				{
					<div class="span2 offset1">
						<div class="teamalign">
							<img src="@Url.Content(e.ImagePath)" width="80" height="80" class="team-thumb img-circle" alt="no image"/>         
						</div>
						<h3>@e.Name</h3>
						<div class="job-position">@e.Rank.Description</div>
					</div>
				}               
			</div>
			<div class="row">
				<div class="span10 offset1">
					<hr class="featurette-divider">
					<div class="featurette">
						<h2 class="featurette-heading">Want to know more? <span class="muted">| a little about us</span></h2>
						<p>ours mission is to value ours customers</p>                       
					</div>
					<hr class="featurette-divider">
				</div>

			</div>
		</div>
	</section>
	<!--******************** Contact Section ********************-->
	<section id="contact" class="single-page scrollblock wow pulse" data-wow-iteration="10s" data-wow-duration="15000ms">
		@if (ViewBag.Status != null)
		{
			<div class="alert alert-warning col-sm-6 col-sm-offset-3" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<strong>@ViewBag.Status</strong>
			</div>
		}
		<div class="container" >
			<div class="align"><i class="icon-mail-2"></i></div>
			<h1>@Resource.Contact!</h1>
			<div class="row">
				<div class="span12">
					<div class="cform" id="theme-form">
						<form action="@Url.Action("SaveContactUs", "Home")" method="post" class="cform-form">
							<div class="row">
								<div class="span6">
									<span class="your-name">
										<input type="text" name="Name" placeholder="Your Name" class="cform-text" size="40" title="your name" required>
									</span>
								</div>
								<div class="span6">
									<span class="your-email">
										<input type="text" name="Email" placeholder="Your Email" class="cform-text" size="40" title="your email" required>
									</span>
								</div>
							</div>
							<div class="row">
								<div class="span6">
									<span class="company">
										<input type="text" name="Company" placeholder="Your Company" class="cform-text" size="40" title="company" required>
									</span>
								</div>
								<div class="span6">
									<span class="website">
										<input type="text" name="WebSite" placeholder="Your Website" class="cform-text" size="40" title="website">
									</span>
								</div>
							</div>
							<div class="row">
								<div class="span12">
									<span class="message">
										<textarea name="Message" class="cform-textarea" cols="40" rows="10" title="drop us a line." required></textarea>
									</span>
								</div>
							</div>
							<div>
								<input type="submit" value="Send message" class="cform-submit pull-left wow swing" data-wow-iteration="infinite">
							</div>
							<div class="cform-response-output"></div>
						</form>
					</div>
				</div>

			</div>
		</div>
	</section>
	<div class="footer-wrapper">
		<div class="container">
			<footer>
				<small>Cloud-Based Restaurant Management System © CBRMS-0.1.1</small>
			</footer>
		</div>

	</div>
	<!-- Loading the javaScript at the end of the page -->
	<script src="~/Scripts/ContactUs/js/bootstrap.js"></script>
	<script src="~/Scripts/ContactUs/js/jquery.prettyPhoto.js"></script>
	<script src="~/Scripts/ContactUs/js/site.js"></script>
	<script type="text/javascript">
	//==============================================>
	// Page Load Event
	//==============================================>
	$(document).ready()
	{
		//==========
		//alert view
		//==========
		window.setTimeout(function () {
			$(".alert").fadeTo(500, 0).slideUp(500, function () {
				$(this).remove();
			});
		}, 4000);
	}
	</script>
</body>
</html>
