@model CloudBasedRMS.View.Controllers.ViewModel.EmployeeReportViewModel
@{
    ViewBag.Title = "EmployeeReport";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">@Resource.DailyReport</a>
        </li>
        <li>
            <a href="#">@Resource.EmployeeReport</a>
        </li>
    </ul><!-- /.breadcrumb -->
</div>
@*Create/Update/Delete Status*@
@if (!string.IsNullOrEmpty(ViewBag.Status))
{
    <div class="alert alert-success">
        <label>@ViewBag.Status</label>
    </div>
}
@using (Html.BeginForm("EmployeeReport", "DailyReport"))
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.RankID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RankID", ViewBag.Rank as SelectList, new { @class = "col-xs-10 col-sm-5" })
                @Html.ValidationMessageFor(model => model.RankID, "", new { @class = "text-danger" })
            </div>
        </div>        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Preview" class="btn btn-success" id="btnpreview" />
                <input type="button" value="Rpt from MVC with new window" onclick="GenericInNewWin()" class="btn-primary" />
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/assets/js/jquery.dataTables.min.js")
}