@using PagedList;
@using PagedList.Mvc;
@model IPagedList<CloudBasedRMS.Core.OrderMaster>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    @*search Option Here*@
var searchbyList = new List<SelectListItem>()
    {
        new SelectListItem { Text=Resource.OrderNo, Value = "OrderNo" },
        new SelectListItem { Text=Resource.OrderDate,Value = "OrderDate" },
        new SelectListItem { Text=Resource.Description,Value = "Description" },
        new SelectListItem { Text=Resource.IsParcel,Value = "IsParcel" },
        new SelectListItem { Text=Resource.TableNo,Value = "TableNo" },
           new SelectListItem { Text=Resource.UserName,Value = "CreatedUserName" },
        new SelectListItem { Text=Resource.CreatedDate,Value = "CreatedDate"}
    };
}
<link href="~/Content/Base.css" rel="stylesheet" />
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">@Resource.Home</a>
        </li>
        <li>
            <a href="#">@Resource.OrderingBilling</a>
        </li>
        <li class="active">@Resource.Order</li>
    </ul><!-- /.breadcrumb -->
</div>
    @*Searching Result*@
    @if (!string.IsNullOrEmpty(ViewBag.SearchBy) && !string.IsNullOrEmpty(ViewBag.Search))
    {
        <div class="alert alert-success">

            <ul>
                <li><label>@Resource.SearchBy : @ViewBag.SearchBy</label></li>
                <li><label>@Resource.SearchValue : @ViewBag.Search</label></li>
            </ul>
        </div>
    }
    @*Searching Status*@
    @if ((!string.IsNullOrEmpty(ViewBag.Searchby1) && !string.IsNullOrEmpty(ViewBag.Search1)) ||
                   (!string.IsNullOrEmpty(ViewBag.Searchby2) && !string.IsNullOrEmpty(ViewBag.Search2)) ||
                   (!string.IsNullOrEmpty(ViewBag.Searchby3) && !string.IsNullOrEmpty(ViewBag.Search3)) ||
                   (!string.IsNullOrEmpty(ViewBag.Searchby4) && !string.IsNullOrEmpty(ViewBag.Search4)))
    {
        <div class="alert alert-success">
            <ul>

                @if (!string.IsNullOrEmpty(ViewBag.Searchby1) && !string.IsNullOrEmpty(ViewBag.Search1))
                {
                    <li>@Resource.SearchBy @ViewBag.Searchby1 : @ViewBag.Search1</li>
                }

                @if (!string.IsNullOrEmpty(ViewBag.Searchby2) && !string.IsNullOrEmpty(ViewBag.Search2))
                {
                    <li>@Resource.SearchBy @ViewBag.Searchby2 : @ViewBag.Search2</li>
                }

                @if (!string.IsNullOrEmpty(ViewBag.Searchby3) && !string.IsNullOrEmpty(ViewBag.Search3))
                {
                    <li>@Resource.SearchBy @ViewBag.Searchby3 : @ViewBag.Search3</li>
                }

                @if (!string.IsNullOrEmpty(ViewBag.Searchby4) && !string.IsNullOrEmpty(ViewBag.Search4))
                {
                    <li>@Resource.SearchBy @ViewBag.Searchby4 : @ViewBag.Search4</li>
                }

            </ul>
        </div>
    }
    @*Searching Panel*@
    @using (Html.BeginForm("Index", "Order", FormMethod.Get))
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <a id="filter"><strong>@Resource.Filter</strong></a> <span id="filterspan" class="glyphicon glyphicon-chevron-down"></span>
                | @Html.ActionLink(Resource.Reload, "Index")
            </div>
            <div id="filtercollapse" style="display:none;" class="panel-body">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.Label(Resource.SearchBy)
                            @Html.DropDownList("searchby1", searchbyList, "-- Select One --", new { @class = "form-control", id = "searchby" })
                        </div>
                        <div class="form-group">
                            @Html.TextBox("search1", string.Empty, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.Label(Resource.SearchBy)
                            @Html.DropDownList("searchby2", searchbyList, "-- Select One --", new { @class = "form-control", id = "searchby" })
                        </div>
                        <div class="form-group">
                            @Html.TextBox("search2", string.Empty, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.Label(Resource.SearchBy)
                            @Html.DropDownList("searchby3", searchbyList, "-- Select One --", new { @class = "form-control", id = "searchby" })
                        </div>
                        <div class="form-group">
                            @Html.TextBox("search3", string.Empty, new { @class = "form-control", id = "searchby" })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.Label(Resource.SearchBy)
                            @Html.DropDownList("searchby4", searchbyList, "-- Select One --", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.TextBox("search4", string.Empty, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <input type="submit" value=@Resource.Search class="btn btn-success" />

            </div>
        </div>
    }
<p>
    @Html.ActionLink(Resource.Create, "Create")|
    @Html.ActionLink(Resource.ViewasMasterDetail, "List")
</p>
<table id="tblorder" class="table table-bordered table-responsive" cellspacing="0">
    <thead>
        <tr>
            <th>Action</th>
            <th>
                @Html.ActionLink("OrderNo", "index", new { sortby = ViewBag.OrderNoSortby, searchby1 = Request.QueryString["searchby1"], search1 = Request.QueryString["search1"], searchby2 = Request.QueryString["searchby2"], search2 = Request.QueryString["search2"], searchby3 = Request.QueryString["searchby3"], search3 = Request.QueryString["search3"], searchby4 = Request.QueryString["searchby4"], search4 = Request.QueryString["search4"] })
            </th>
            <th>
                @Html.ActionLink("OrderDate", "index", new { sortby = ViewBag.OrderDateSortby, searchby1 = Request.QueryString["searchby1"], search1 = Request.QueryString["search1"], searchby2 = Request.QueryString["searchby2"], search2 = Request.QueryString["search2"], searchby3 = Request.QueryString["searchby3"], search3 = Request.QueryString["search3"], searchby4 = Request.QueryString["searchby4"], search4 = Request.QueryString["search4"] })
            </th>
            <th>
                @Html.ActionLink("Description", "index", new { sortby = ViewBag.DescriptionSortby, searchby1 = Request.QueryString["searchby1"], search1 = Request.QueryString["search1"], searchby2 = Request.QueryString["searchby2"], search2 = Request.QueryString["search2"], searchby3 = Request.QueryString["searchby3"], search3 = Request.QueryString["search3"], searchby4 = Request.QueryString["searchby4"], search4 = Request.QueryString["search4"] })
            </th>
            <th>
                @Html.ActionLink("IsParcel", "index", new { sortby = ViewBag.IsParcelSortby, searchby1 = Request.QueryString["searchby1"], search1 = Request.QueryString["search1"], searchby2 = Request.QueryString["searchby2"], search2 = Request.QueryString["search2"], searchby3 = Request.QueryString["searchby3"], search3 = Request.QueryString["search3"], searchby4 = Request.QueryString["searchby4"], search4 = Request.QueryString["search4"] })
            </th>
            <th>
                @Html.ActionLink("Table", "index", new { sortby = ViewBag.TableNoSortby, searchby1 = Request.QueryString["searchby1"], search1 = Request.QueryString["search1"], searchby2 = Request.QueryString["searchby2"], search2 = Request.QueryString["search2"], searchby3 = Request.QueryString["searchby3"], search3 = Request.QueryString["search3"], searchby4 = Request.QueryString["searchby4"], search4 = Request.QueryString["search4"] })
            </th>
            
        </tr>
        </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr><td>
    <a href="@Url.Action("Edit", "Order", new { id = item.OrderMasterID })" class="tooltip-success" data-rel="tooltip" title="Edit">
        <span class="green">
            <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
        </span>
    </a>|
    <a class="actionlink" id="@item.OrderMasterID" name="btnDeleteLink" data-toggle="modal" data-target="#dialogDelete" data-rel="tooltip" title="Delete">
        <span class="red">
            <i class="ace-icon fa fa-trash-o bigger-120"></i>
        </span>
    </a>
</td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsParcel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Table.TableNo)
                </td>
                
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(Model,
    page => Url.Action("Index", new { searchby1 = Request.QueryString["searchby1"], search1 = Request.QueryString["search1"], searchby2 = Request.QueryString["searchby2"], search2 = Request.QueryString["search2"], searchby3 = Request.QueryString["searchby3"], search3 = Request.QueryString["search3"], searchby4 = Request.QueryString["searchby4"], search4 = Request.QueryString["search4"], sortby = Request["sortby"], page }),
    new PagedListRenderOptions { Display = PagedListDisplayMode.IfNeeded, DisplayItemSliceAndTotal = true })
<script src="~/assets/js/jquery-1.12.4.min.js"></script>
<style type="text/css">
    #filter {
    }

        #filter:hover {
            cursor: pointer;
        }

    #filterspan {
        padding-left: 1px;
        padding-right: 1px;
    }
</style>

@*Delete Confirmation Dialog*@
<div id="dialogDelete" class="modal fade" role="dialog" style="margin-left:35%;margin-right:35%;margin-top:5%;overflow:hidden;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4>@Resource.DeleteRecord</h4>
        </div>
        <div class="modal-body">
            <span id="lblDeleteRoleError" style="color:red;font-weight:bold;"></span>
            <h4> @Resource.Areyousureyouwanttodeletethis</h4>
            <input type="submit" id="btnDelete" class="btn btn-success" value="Confirm" />
            <input type="submit" class="btn btn-danger" data-dismiss="modal" value="Cancel" />
        </div>
    </div>
</div>
@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/assets/js/jquery-ui-1.12.1.min.js")
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
        var Id;
        //Delete Link Click Event
        $('a[name="btnDeleteLink"]').on('click', function (e) {
            Id = $(this).attr('OrderMasterID');
        });
        //Delete Confirm Button Click Event
        $('#btnDelete').on('click', function (e) {
            //call ajax delete post function
            Delete();
        });
        //Ajax Delete  Function
        function Delete()
        {
            if (Id != '' || Id != null || Id != undefined)
            {
                $.ajax({
                     url: "@Url.Action("Delete", "Order", FormMethod.Post)",
                                type: "POST",
                                data: "id=" + id,
                success: function (data)
                {
                    if (data.result != undefined) {
                        var message = data.result;
                        window.location = '@Url.Action("Index","Order")?Status=' + message;
                    }
                },
                error: function (data)
                {
                    if (data.error.arguments == null)
                    {
                     alert("Error!")
                    }
                }
            });
        }
        }
    </script>
<script type="text/javascript">
        $(document).ready()
        {
            $('select').val('');
            $('input[type="text"]').val('');

            //Searchby Dropdown Change Event
            $('select').change(function () {
                //currenc select value
                var value = $(this).val();
                //current select name
                var search = $(this).attr('name');
                //convert to search textbox name
                search = search.replace('searchby', 'search');
                if (value == '' || value == null || value == undefined) {
                    $('input[name="' + search + '"]').val('');
                }
                if (value == 'CreatedDate') {
                   // var regex = "\\d[1-12]{1,2}/\\d[1-31]{1,2}/\\d{4}";
                   // $('input[name="' + search + '"]').attr('placeholder', 'MM/DD/YYYY');
                   // $('input[name="' + search + '"]').attr('pattern', regex);
                    $('input[name="' + search + '"]').attr('type', 'Date');
                }
                else {
                   // $('input[name="' + search + '"]').removeAttr('placeholder');
                   // $('input[name="' + search + '"]').removeAttr('pattern');
                    $('input[name="' + search + '"]').attr('type', 'text');
                }
            });

            $('#filter').on('click', function () {

                if ($('#filterspan').hasClass('glyphicon glyphicon-chevron-down')) {

                    $('#filterspan').removeClass('glyphicon glyphicon-chevron-down');

                    $('#filterspan').addClass('glyphicon glyphicon-chevron-up');

                    $('#filtercollapse').css("display", "block");
                }
                else {
                    $('#filterspan').removeClass('glyphicon glyphicon-chevron-up');

                    $('#filterspan').addClass('glyphicon glyphicon-chevron-down');

                    $('#filtercollapse').css("display", "none");
                }
            })
        }
</script>
}
