@{
    ViewBag.Title = @TempData["error"];
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<div style="height:10px;"></div>

<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-7" style="border: double">
                    <div class="panel-heading">
                        <h2 class="page-header">Error!</h2>
                    </div>
                    <div class="panel-body">
                        <div><h4> Error: </h4> @TempData["error"]</div>
                        <div><h4>Error Description: </h4><div class="alert alert-warning">@Model.Exception.Message.ToString() @Html.Raw(" ") @Model.ControllerName @Html.Raw(" ") @Model.ActionName</div></div>
                    </div>
                    <button type="button" class="btn btn-lg btn-warning" onclick="goback()"><<< Back</button>
                    <div style="height:10px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function goback()
    {
        window.history.back()
    }
</script>