@model IEnumerable<CloudBasedRMS.Core.Tables>
@{
    ViewBag.Title = "ImportExcel";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">@Resource.Home</a>
        </li>
        <li class="active">@Resource.Menu</li>
        <li class="active">@Resource.Table</li>
    </ul><!-- /.breadcrumb -->
</div>
<h4>Add Table  via Excel</h4>
<hr />
@using (Html.BeginForm("UploadExcel", "Table", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return myFunction()" }))
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="control-label col-md-2">Download Format:</div>
            <div class="col-md-10">
                <a href="~/Doc/table_Template.xlsx"><img src="~/Images/exceldownloadicon/images.png" width="100" height="30" title="Download Excel format" alt="excel" /></a>
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2">Excel:</div>
            <div class="col-md-10">
                <input type="file" id="FileUpload" name="FileUpload" class="" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" id="btnSubmit" class="btn btn-primary" />
            </div>
        </div>
    </div>

    if (Model != null)
    {
        <table class="table">
            <tr>
                <th>
                    Table No
                </th>
                <th>
                   Capcaity
                </th>
                <th>
                   Status
                </th>
                <th>
                   Employee Name
                </th>
                <th>
                    Is Available
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem =>item.TableNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Capacity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsAvailable)
                    </td>           
                </tr>
            }

        </table>
    }
}  
<p>
    @Html.ActionLink(Resource.BacktoList, "Index")
</p>

