@model IEnumerable<CloudBasedRMS.Core.Address>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">@Resource.Home</a>
        </li>
        <li class="active">@Resource.MasterSetUp</li>
        <li class="active">@Resource.Address</li>
    </ul><!-- /.breadcrumb -->
</div>
<p>
    @Html.ActionLink(Resource.Create, "Create")
</p>
<table class="table">
    <tr>
        <th>Action</th>
        <th>
            @Resource.City
        </th>
        <th>
            @Resource.Township
        </th>
        <th>
           @Resource.Place
        </th>
        <th>
            @Resource.ZipCode
        </th>
        <th>
            @Resource.Area
        </th>     
    </tr>
@foreach (var item in Model) {
    <tr><td>
    <a href="@Url.Action("Edit", "Address", new { id = item.AddressID })" class="tooltip-success" data-rel="tooltip" title="Edit">
        <span class="green">
            <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
        </span>
    </a>
    <a href="@Url.Action("Delete", "Address", new { id = item.AddressID })" class="tooltip-error" data-rel="tooltip" title="Delete">
        <span class="red">
            <i class="ace-icon fa fa-trash-o bigger-120"></i>
        </span>
    </a>
</td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Township)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Place)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area)
        </td>
        
    </tr>
}
</table>
