@model IEnumerable<CloudBasedRMS.Core.Rank>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>
        <li class="active">Master SetUp</li>
        <li class="active">Rank</li>
    </ul><!-- /.breadcrumb -->
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Action</th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
      
    </tr>

@foreach (var item in Model) {
    <tr><td>
    <a href="@Url.Action("Edit", "Rank", new { id = item.RankID })" class="tooltip-success" data-rel="tooltip" title="Edit">
        <span class="green">
            <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
        </span>
    </a>
    <a href="@Url.Action("Delete", "Rank", new { id = item.RankID })" class="tooltip-error" data-rel="tooltip" title="Delete">
        <span class="red">
            <i class="ace-icon fa fa-trash-o bigger-120"></i>
        </span>
    </a>
</td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        
    </tr>
}

</table>
