@{
    ViewBag.Title = "EmployeeStrength";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">@Resource.DailyReport</a>
        </li>
        <li>
            <a href="#">MIS Reports</a>
        </li>
    </ul><!-- /.breadcrumb -->
</div>
<style>
    #chart_container{
       width:auto;
       height:350px;
       border:1px solid #00ff90;
       padding:1px;
       border-radius:4px;
    }
</style>
<table class="table-responsive">
    <tr>
        <td>
            <h2>@Resource.EmployeeStrength</h2>
            <div id="chart_container" class="form-horizontal wow wobble">
                <canvas id="bar_chart"></canvas>
            </div>
        </td>
        <td>
            <h2>@Resource.Salebillbymonth</h2>
            <div id="chart_container" class="form-horizontal">
                <canvas id="bar_chart_SaleBill"></canvas>
            </div>
        </td>
        <td>
            <h2>@Resource.Salebillcountanditemname</h2>
           <div  id="chart_container" class="form-horizontal">
               <canvas id="bar_bill"></canvas>
           </div>
        </td>
    </tr>

</table>
<table>
    <tr>
        <td>
            <h2>@Resource.Orderrecordbymonth</h2>
            <div id="chart_container" class="form-horizontal">
                <canvas id="mychart"></canvas>
            </div>
        </td>
        <td>
            <h2>Total Customer registration!</h2>
            <div id="chart_container"><canvas id="pie"></canvas></div>
        </td>
    </tr>
</table>
<script src="~/Scripts/Chart.min.js"></script>
<script>
    $(document).ready()
    {
        //bar chart for employee strength
        var repArray=@Html.Raw(Json.Encode(ViewBag.RankCount));//use in chart's data
        var rank=@Html.Raw(Json.Encode(ViewBag.RankName));//use in chart's label
        var ctx=$("#bar_chart");
        var barchart=new Chart(ctx,{
            type:'bar',
            data:{
                labels:rank,
                datasets:[
                    {
                        label:"employee(s) strength",
                        data:repArray,
                        backgroundColor:["rgba(54,234,234,.5)","rgba(345,657,234,.5)","rgba(443,123,234,.5)"],
                        borderColor:["rgb(224,456,876)","rgb(235,678,987)","rgb(656,123,432)"],
                        borderwidth:1
                    }
                ]
            },
            options:{
                maintainAspectRatio:false,
                scales:{xAxes:[{ticks:{beginAtZero:true}}]},
                legend:{display:true}
            }
        });
        //bar chart for sale bill by month
        var saledataarray=@Html.Raw(Json.Encode(ViewBag.saledata));
        var saleorderdate=@Html.Raw(Json.Encode(ViewBag.orderDate));
        var salebillctx=$("#bar_chart_SaleBill");
        var barchart=new Chart(salebillctx,{
            type:'bar',
            data:{
                labels:saleorderdate,
                datasets:[
                    {
                        label:"Sale Bill NetAmount in Kyat(s)",
                        data:saledataarray,
                        backgroundColor:["rgba(242,166,54,.5)","rgba(145,65,72,.5)","rgba(74,25,92,.5)"],
                        borderColor:["rgb(242,166,54)","rgb(145,65,72)","rgb(74,25,92,.5)"],
                        borderwidth:1
                    }
                ]
            },
            options:{
                maintainAspectRatio:false,
                scales:{xAxes:[{ticks:{beginAtZero:true}}]},
                legend:{display:true}
            }
        });
        //bar chart for food item list and by name
        var billfooddataarray=@Html.Raw(Json.Encode(ViewBag.FoodItemsname_List));
        var billfoodname=@Html.Raw(Json.Encode(ViewBag.FoodItemsCount_List));
        var billchart=$("#bar_bill");
        var barchart=new Chart(billchart,{
            type:'bar',
            data:{
                labels:billfoodname,
                datasets:[
                    {
                        label:"bill food item name and total sale count(s)",
                        data:billfooddataarray,
                        backgroundColor:["rgba(242,166,54,.5)","rgba(145,65,72,.5)","rgba(74,25,92,.5)"],
                        borderColor:["rgb(242,166,54)","rgb(145,65,72)","rgb(74,25,92,.5)"],
                        borderwidth:1
                    }
                ]
            },
            options:{
                maintainAspectRatio:false,
                scales:{xAxes:[{ticks:{beginAtZero:true}}]},
                legend:{display:true}
            }
        });
        //bar chart for order master.
        var datachart={
            labels:[],
            datasets:[
                {
                    label:"Quantity",
                    backgroundColor:"rgb(00,87,67,0.3)",
                    borderColor:"rgba(220,220,220,7)",
                    borderWidth:1,
                    horverBackgroundColor:"rgba(22,220,24,1)",
                    hoverBorderColor:"rgba(220,220,220,.5)",
                    data:[]
                },
                {
                    label:"Amount",
                    backgroundColor:"rgba(90,193,208,.3)",
                    borderColor:"rgba(151,187,205,.7)",
                    borderWidth:1,
                    horverBackgroundColor:"rgba(151,187,205,1)",
                    hoverBorderColor:"rgba(151,187,205,.5)",
                    data:[]
                }
            ]
        };
        $.ajax({
            url: "@Url.Action("GetOrderData", "DailyReport")",
            type: "GET",
            dataType: "json",
            success: function (data) {
                for(var i=0;i<=data.length-1;i++){
                    datachart.labels.push(data[i].Ordermonthname);
                    datachart.datasets[0].data.push(data[i].Quantity);
                    datachart.datasets[1].data.push(data[i].Amount);
                    var myctx=$("#mychart");
                    var mybarchart=new Chart(myctx,{
                        type:'bar',
                        data:datachart,
                        options:{
                            maintainAspectRatio:false,
                            scales:{xAxes:[{ticks:{beginAtZero:true}}]},
                            legend:{display:true}
                        }
                    });
                }
            },
            error: function () {
                alert("Error!");
            }
        });
        //loading piechart for total customer registration
        loadPieChart();
    }
    //creating pie chart for total customer registration
    function loadPieChart() {
        $.ajax({
            type: 'GET',
            url: "@Url.Action("GetAllCustomerRegisterRecord", "DailyReport")",
            success: function (data) {
                var lables_ = [];
                var data_ = [];
                $.each(data, function (index, val) {
                    lables_.push(val.label);
                    data_.push(val.value);
                });
                //each end

                var ctx = document.getElementById("pie");
                //start piechart
                var myPieChart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: lables_,
                        datasets: [{
                            data: data_,
                            backgroundColor: ["#3CB371", "#1E90FF"],
                            hoverBackgroundColor: ["#3CB371", "#1E90FF"]
                        }]
                    }
                });
                //end piechart
            }
        //success end
    });
    //ajax end
    }
</script>

