@model CloudBasedRMS.View.Controllers.ViewModel.EmployeeViewModel
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">@Resource.Home</a>
        </li>
        <li>
            <a href="#">@Resource.Member</a>
        </li>
        <li class="active">@Resource.Employee</li>
    </ul><!-- /.breadcrumb -->
</div>
<h3>@Resource.Areyousureyouwanttodeletethis</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
         @Html.Label(Resource.EmployeePhoto)
        </dt>
        <dd>
            <img id="user_img" height="100" width="100" style="border:solid" src="@Url.Content(Model.ImagePath)" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JoinDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JoinDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NRC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NRC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkType)
        </dd>
        <dt>
            Rank
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rank.Description)
        </dd>
        <dt>
         Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BasicPay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BasicPay)
        </dd>

    </dl>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.EmployeeID)
        <div class="form-actions no-color">
            <button class="btn btn-white btn-warning btn-bold" type="submit">
                <i class="ace-icon fa fa-trash-o bigger-120 orange"></i>
                @Resource.Delete
            </button> |
            @Html.ActionLink(Resource.BacktoList, "Index")
        </div>
    }
</div>
