<!DOCTYPE html>
@model CloudBasedRMS.View.Controllers.ViewModel.GalleryViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">@Resource.Home</a>
        </li>
        <li class="active">@Resource.Gallery</li>
    </ul><!-- /.breadcrumb -->
</div>
<html>
<head>
    <link href="~/assets/css/dropzone.min.css" rel="stylesheet" />
    <script src="~/assets/js/dropzone.min.js"></script>
    <script type="text/javascript">
    Dropzone.options.dropzoneForm =
  {
        init: function() {
            this.on("complete", function(data) {
                //var res = eval('(' + data.xhr.responseText + ')');
                var res = JSON.parse(data.xhr.responseText);
            });
        }
    };
    </script>  
</head>
<body>
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div>
                <ul class="ace-thumbnails clearfix">
                    @foreach (var img in Model.Images)
                    {
                        <li>
                            <a href="@Url.Content(img)"data-rel="colorbox">
                                <img src="@Url.Content(img)" width="180" height="180" alt="150x150" />
                                <div class="text">
                                    <div class="inner">Click me to show large size</div>
                                </div>
                            </a>                                                       
                        </li>                     
                    }                                                     
                </ul>
            </div><!-- PAGE CONTENT ENDS -->          
        </div><!-- /.col -->       
    </div><!-- /.row -->
    <div class = "jumbotron" >
        <form action="@Url.Action("Upload", "Gallery")" method="post"  class = "dropzone"  id = "dropzoneJsForm"  style = "background-color:#00BFFF" ></form>
    </div><!--/.from upload-->
</body>
</html>

