@using PagedList;
@using PagedList.Mvc;
@model IPagedList<CloudBasedRMS.Core.SaleBill>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    @*search Option Here*@
var searchbyList = new List<SelectListItem>()
    {
        new SelectListItem { Text="SaleBillNo", Value = "SaleBillNo" },
        new SelectListItem { Text="SaleBillDate",Value = "SaleBillDate" },
        new SelectListItem { Text="NetAmount",Value = "NetAmount" },
        new SelectListItem { Text="OrderNo",Value = "OrderNo" },
        new SelectListItem { Text="Customer",Value = "Customer" },
        new SelectListItem { Text="Employee",Value = "Employee" },
          new SelectListItem { Text="CreatedUserName",Value = "CreatedUserName" },
        new SelectListItem { Text="CreatedDate",Value = "CreatedDate"}
    };
}
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">@Resource.Home</a>
        </li>
        <li class="active">@Resource.OrderingBilling</li>
        <li class="active">@Resource.SaleBill</li>
    </ul><!-- /.breadcrumb -->
</div>
    @*Searching Result*@
    @if (!string.IsNullOrEmpty(ViewBag.SearchBy) && !string.IsNullOrEmpty(ViewBag.Search))
    {
        <div class="alert alert-success">

            <ul>
                <li><label>@Resource.SearchBy : @ViewBag.SearchBy</label></li>
                <li><label>@Resource.SearchValue : @ViewBag.Search</label></li>
            </ul>
        </div>
    }
    @*Searching Status*@
    @if ((!string.IsNullOrEmpty(ViewBag.Searchby1) && !string.IsNullOrEmpty(ViewBag.Search1)) ||
                           (!string.IsNullOrEmpty(ViewBag.Searchby2) && !string.IsNullOrEmpty(ViewBag.Search2)) ||
                           (!string.IsNullOrEmpty(ViewBag.Searchby3) && !string.IsNullOrEmpty(ViewBag.Search3)) ||
                           (!string.IsNullOrEmpty(ViewBag.Searchby4) && !string.IsNullOrEmpty(ViewBag.Search4)))
    {
        <div class="alert alert-success">
            <ul>

                @if (!string.IsNullOrEmpty(ViewBag.Searchby1) && !string.IsNullOrEmpty(ViewBag.Search1))
                {
                    <li>@Resource.SearchBy @ViewBag.Searchby1 : @ViewBag.Search1</li>
                }

                @if (!string.IsNullOrEmpty(ViewBag.Searchby2) && !string.IsNullOrEmpty(ViewBag.Search2))
                {
                    <li>@Resource.SearchBy @ViewBag.Searchby2 : @ViewBag.Search2</li>
                }

                @if (!string.IsNullOrEmpty(ViewBag.Searchby3) && !string.IsNullOrEmpty(ViewBag.Search3))
                {
                    <li>@Resource.SearchBy @ViewBag.Searchby3 : @ViewBag.Search3</li>
                }

                @if (!string.IsNullOrEmpty(ViewBag.Searchby4) && !string.IsNullOrEmpty(ViewBag.Search4))
                {
                    <li>@Resource.SearchBy @ViewBag.Searchby4 : @ViewBag.Search4</li>
                }

            </ul>
        </div>
    }
    @*Searching Panel*@
    @using (Html.BeginForm("Index", "SaleBill", FormMethod.Get))
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <a id="filter"><strong>@Resource.Filter</strong></a> <span id="filterspan" class="glyphicon glyphicon-chevron-down"></span>
                | @Html.ActionLink(Resource.Reload, "Index")
            </div>
            <div id="filtercollapse" style="display:none;" class="panel-body">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.Label(Resource.SearchBy)
                            @Html.DropDownList("searchby1", searchbyList, "-- Select One --", new { @class = "form-control", id = "searchby" })
                        </div>
                        <div class="form-group">
                            @Html.TextBox("search1", string.Empty, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.Label(Resource.SearchBy)
                            @Html.DropDownList("searchby2", searchbyList, "-- Select One --", new { @class = "form-control", id = "searchby" })
                        </div>
                        <div class="form-group">
                            @Html.TextBox("search2", string.Empty, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.Label(Resource.SearchBy)
                            @Html.DropDownList("searchby3", searchbyList, "-- Select One --", new { @class = "form-control", id = "searchby" })
                        </div>
                        <div class="form-group">
                            @Html.TextBox("search3", string.Empty, new { @class = "form-control", id = "searchby" })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.Label(Resource.SearchBy)
                            @Html.DropDownList("searchby4", searchbyList, "-- Select One --", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.TextBox("search4", string.Empty, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <input type="submit" value=@Resource.Search class="btn btn-success" />

            </div>
        </div>
    }
<p>
    @Html.ActionLink(Resource.Create, "Create")
</p>
<div id="member-tab" class="tab-pane">
    <div class="col-lg-12">
      <h4>Sale bill taking by table No! Total:@ViewBag.SaleBillbyTable.Count  table(s)</h4>  
    </div>
    @if (ViewBag.SaleBillbyTable != null)
    {
        <div class="clearfix">
            @foreach (var item in ViewBag.SaleBillbyTable)
            {
                <div class="itemdiv memberdiv">                    
                    <div class="body">
                        <div class="name">
                            <a href="#">@item.Table.TableNo</a>
                        </div>

                        <div class="time">
                            <i class="ace-icon fa fa-clock-o"></i>
                            <span class="green">@item.Table.CreatedDate.ToShortTimeString()</span>
                        </div>
                        <div class="clear">
                            <i class="ace-icon fa fa-users">
                                <span class="blue">@item.Table.Capacity</span>
                            </i>
                        </div>
                        <div>
                            <span class="label label-warning label-sm">Billing</span>
                            <div class="inline position-relative">
                                <button class="btn btn-minier btn-yellow btn-no-border dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                    <i class="ace-icon fa fa-angle-down icon-only bigger-120"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                    <li>
                                        <a href="@Url.Action("ConfirmBill", "SaleBill", new { id =item.OrderMasterID})" class="tooltip-success" data-rel="tooltip" title="Confirm Bill">
                                            <span class="green">
                                                <i class="ace-icon fa fa-check bigger-110"></i>
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="@Url.Action("CancelBill", "SaleBill", new { id =item.OrderMasterID})" class="tooltip-warning" data-rel="tooltip" title="Cancel Bill">
                                            <span class="orange">
                                                <i class="ace-icon fa fa-times bigger-110"></i>
                                            </span>
                                        </a>
                                    </li>                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>

<table class="table">
    <tr>
        <th>Action</th>
        <th>
        @Html.ActionLink(Resource.SaleBillNo, "index", new { sortby = ViewBag.SaleBillNoSortby, searchby1 = Request.QueryString["searchby1"], search1 = Request.QueryString["search1"], searchby2 = Request.QueryString["searchby2"], search2 = Request.QueryString["search2"], searchby3 = Request.QueryString["searchby3"], search3 = Request.QueryString["search3"], searchby4 = Request.QueryString["searchby4"], search4 = Request.QueryString["search4"] })
        </th>
        <th>
            @Html.ActionLink(Resource.SaleBillDate, "index", new { sortby = ViewBag.SaleBillDateSortby, searchby1 = Request.QueryString["searchby1"], search1 = Request.QueryString["search1"], searchby2 = Request.QueryString["searchby2"], search2 = Request.QueryString["search2"], searchby3 = Request.QueryString["searchby3"], search3 = Request.QueryString["search3"], searchby4 = Request.QueryString["searchby4"], search4 = Request.QueryString["search4"] })
        </th>
        <th>
            @Html.ActionLink(Resource.EmployeeName, "index", new { sortby = ViewBag.CasherSortBy, searchby1 = Request.QueryString["searchby1"], search1 = Request.QueryString["search1"], searchby2 = Request.QueryString["searchby2"], search2 = Request.QueryString["search2"], searchby3 = Request.QueryString["searchby3"], search3 = Request.QueryString["search3"], searchby4 = Request.QueryString["searchby4"], search4 = Request.QueryString["search4"] })
        </th>
        <th>
            @Html.ActionLink(Resource.OrderNo, "index", new { sortby = ViewBag.OrderMasterSortby, searchby1 = Request.QueryString["searchby1"], search1 = Request.QueryString["search1"], searchby2 = Request.QueryString["searchby2"], search2 = Request.QueryString["search2"], searchby3 = Request.QueryString["searchby3"], search3 = Request.QueryString["search3"], searchby4 = Request.QueryString["searchby4"], search4 = Request.QueryString["search4"] })
        </th>
        <th>
            @Html.ActionLink(Resource.CustomerName, "index", new { sortby = ViewBag.CustomerSortBy, searchby1 = Request.QueryString["searchby1"], search1 = Request.QueryString["search1"], searchby2 = Request.QueryString["searchby2"], search2 = Request.QueryString["search2"], searchby3 = Request.QueryString["searchby3"], search3 = Request.QueryString["search3"], searchby4 = Request.QueryString["searchby4"], search4 = Request.QueryString["search4"] })
        </th>
        <th>
            @Html.ActionLink(Resource.Amount, "index", new { sortby = ViewBag.TableNoSortby, searchby1 = Request.QueryString["searchby1"], search1 = Request.QueryString["search1"], searchby2 = Request.QueryString["searchby2"], search2 = Request.QueryString["search2"], searchby3 = Request.QueryString["searchby3"], search3 = Request.QueryString["search3"], searchby4 = Request.QueryString["searchby4"], search4 = Request.QueryString["search4"] })
        </th>
        <th>
            @Html.ActionLink(Resource.Tax, "index", new { sortby = ViewBag.TableNoSortby, searchby1 = Request.QueryString["searchby1"], search1 = Request.QueryString["search1"], searchby2 = Request.QueryString["searchby2"], search2 = Request.QueryString["search2"], searchby3 = Request.QueryString["searchby3"], search3 = Request.QueryString["search3"], searchby4 = Request.QueryString["searchby4"], search4 = Request.QueryString["search4"] })
        </th>
        <th>
            @Html.ActionLink(Resource.Discount, "index", new { sortby = ViewBag.TableNoSortby, searchby1 = Request.QueryString["searchby1"], search1 = Request.QueryString["search1"], searchby2 = Request.QueryString["searchby2"], search2 = Request.QueryString["search2"], searchby3 = Request.QueryString["searchby3"], search3 = Request.QueryString["search3"], searchby4 = Request.QueryString["searchby4"], search4 = Request.QueryString["search4"] })
        </th>
        <th>
            @Html.ActionLink(Resource.NetAmount, "index", new { sortby = ViewBag.NetAmountSortBy, searchby1 = Request.QueryString["searchby1"], search1 = Request.QueryString["search1"], searchby2 = Request.QueryString["searchby2"], search2 = Request.QueryString["search2"], searchby3 = Request.QueryString["searchby3"], search3 = Request.QueryString["search3"], searchby4 = Request.QueryString["searchby4"], search4 = Request.QueryString["search4"] })
        </th>
      
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Url.Action(Resource.Edit, "SaleBill", new { id = item.SaleBillID })" class="tooltip-success" data-rel="tooltip" title="Edit">
                <span class="green">
                    <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                </span>
            </a>
            <a href="@Url.Action(Resource.Delete, "SaleBill", new { id = item.SaleBillID })" class="tooltip-error" data-rel="tooltip" title="Delete">
                <span class="red">
                    <i class="ace-icon fa fa-trash-o bigger-120"></i>
                </span>
            </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaleBillNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaleBillDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderMaster.OrderNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NetAmount)
        </td>
        
    </tr>
}
</table>
@Html.PagedListPager(Model,
    page => Url.Action("Index", new { searchby1 = Request.QueryString["searchby1"], search1 = Request.QueryString["search1"], searchby2 = Request.QueryString["searchby2"], search2 = Request.QueryString["search2"], searchby3 = Request.QueryString["searchby3"], search3 = Request.QueryString["search3"], searchby4 = Request.QueryString["searchby4"], search4 = Request.QueryString["search4"], sortby = Request["sortby"], page }),
    new PagedListRenderOptions { Display = PagedListDisplayMode.IfNeeded, DisplayItemSliceAndTotal = true })
@Html.ActionLink("Export Sale Bill", "ExportSaleBill")||@Html.ActionLink("Export Sale Bill Group by Casiher", "ExportSaleBillGroupByCasher")
<style type="text/css">
    #filter {
    }

        #filter:hover {
            cursor: pointer;
        }

    #filterspan {
        padding-left: 1px;
        padding-right: 1px;
    }
</style>
<script src="~/assets/js/jquery-3.1.1.js"></script>
<script src="~/assets/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
        $(document).ready()
        {
            $('select').val('');
            $('input[type="text"]').val('');

            //Searchby Dropdown Change Event
            $('select').change(function () {
                //currenc select value
                var value = $(this).val();
                //current select name
                var search = $(this).attr('name');
                //convert to search textbox name
                search = search.replace('searchby', 'search');
                if (value == '' || value == null || value == undefined) {
                    $('input[name="' + search + '"]').val('');
                }
                if (value == 'CreatedDate') {
                   // var regex = "\\d[1-12]{1,2}/\\d[1-31]{1,2}/\\d{4}";
                   // $('input[name="' + search + '"]').attr('placeholder', 'MM/DD/YYYY');
                   // $('input[name="' + search + '"]').attr('pattern', regex);
                    $('input[name="' + search + '"]').attr('type', 'Date');
                }
                else {
                   // $('input[name="' + search + '"]').removeAttr('placeholder');
                   // $('input[name="' + search + '"]').removeAttr('pattern');
                    $('input[name="' + search + '"]').attr('type', 'text');
                }
            });

            $('#filter').on('click', function () {

                if ($('#filterspan').hasClass('glyphicon glyphicon-chevron-down')) {

                    $('#filterspan').removeClass('glyphicon glyphicon-chevron-down');

                    $('#filterspan').addClass('glyphicon glyphicon-chevron-up');

                    $('#filtercollapse').css("display", "block");
                }
                else {
                    $('#filterspan').removeClass('glyphicon glyphicon-chevron-up');

                    $('#filterspan').addClass('glyphicon glyphicon-chevron-down');

                    $('#filtercollapse').css("display", "none");
                }
            })
        }
</script>